*.o
*.so
*.exe
*.cob.out
.DS_Store
projects/hellowld/hello-world
projects/hellowld/hellowld
projects/playground/datas/dataplay
projects/playground/if-statement/ifstat
projects/playground/if-statement/ifelsest
projects/playground/claude-exercice/exercice
projects/systpaie/systpaie
